body {
  background-color: black;
  font-family: monospace;
  color: aliceblue;
}
h2 {
  font-size: 25px;
  text-transform: uppercase;
  text-indent: 40px;
  line-height: 40px;
  margin: 5px;
  margin-top: auto;
}

div {
  background-image: url('../img/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');
  background-repeat: no-repeat;
  background-size: 400px 200px;
  width: 400px;
  margin-top: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  font-size: 16px;
}

#icon {
  width: 26px;
}
